.poke-field {
    /* width: 100%; */
    /* margin: 0 auto; */
    padding: 10px;
    background: lightgray;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}

.poke-sprite {
    border: 1px solid black;
    margin: 5px;
    padding: 4px;
    text-align: center;
    
    text-decoration: none;
} 

.poke-sprite p {
    margin: none;
}

.poke-sprite-img {
    margin:  auto;
    width: 100%;
}

.header {
    background: gray;
    color: white;
    padding: 3rem;
}

.header a {
    color: white;
    text-decoration: none;
}

.search {
    display: flex;
    justify-content: center;
}

.no-marg {
    margin: 0;
    margin-bottom: 0;
}

/* SINGLE POKEDEX ENTRY */
.dex-body {
    background: red;
    padding: 2rem;
    width: 100%;
}

.info-body {
    background: lightcoral;
}

.img-wrapper {
    padding: 1rem;
    background: white;
}

.img-field {
    background: black;
}

.img-field img {
    width: 100%;
}

/* BUTTONS */
#btn2 {
    background-image: linear-gradient(to left, blue, green);
    color: white;
}


.butn {
    border: none;
    padding: 15px;
    width: 175px;
    border-radius: 6px;
}

.stats table {
    margin: 0 auto;
}


/* POKEMON TYPES */

.poison {
    background: purple;
    color: white;
    width: 100%;
}

.grass {
    background: green;
    color: white;
    width: 100%;
}

.dark {
    background: black;
    color: white;
}