:root {
    --red: #C62800;
    --green: #18291E;
    --teal: #25968B;
    --light: #F8F2D3; 
    --orange: #F99719;
}

.main-body {
    background: var(--green);
    color: white;
    min-height: 90vh;
}

.poke-field {
    padding: 10px;
    background: var(--light);
}

.poke-sprite {
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    transition: transform 0.75s ease;
    color: black;
} 

.poke-sprite:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px black;
    text-decoration: none;
}

.poke-sprite p {
    margin: none;
}

.poke-sprite-img {
    margin:  auto;
    width: 100%;
}

.header {
    background: var(--red);
    color: black;
    padding: 3rem;
    display: flex;
    align-items: center;
}

.header a {
    color: white;
    text-decoration: none;
}

#light-up {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--teal);
}

.search {
    display: flex;
    justify-content: center;
}

.search input[type="text"]{
    background: transparent;
    border: 0;
    border-bottom: 2px solid white;
    color: white;
}

#searchBtn {
    border: none;
    padding: 5px;
    background: teal;
    color: white;
    border-radius: 6px;
}

.no-marg {
    margin: 0;
    margin-bottom: 0;
}

/* SINGLE POKEDEX ENTRY */
.dex-body {
    background: red;
    padding: 2rem;
    width: 100%;
}

.info-body {
    background: lightcoral;
}

.img-wrapper {
    padding: 1rem;
    background: white;
}

.img-field {
    background: black;
}

.img-field img {
    width: 100%;
}

/* BUTTONS */
#btn2 {
    background-image: linear-gradient(to left, blue, green);
    color: white;
}


.butn {
    border: none;
    padding: 15px;
    width: 175px;
    border-radius: 6px;
}

.stats table {
    margin: 0 auto;
}


/* POKEMON TYPES */

.poison {
    background: purple;
    color: white;
    width: 100%;
}

.grass {
    background: green;
    color: white;
    width: 100%;
}

.fire {
    background: red;
    color: white;
}

.flying {
    background: skyblue;
    color: black;
}

.water {
    background: blue;
    color: white;
}

.bug {
    background: greenyellow;
    color: black;
}

.normal {
    background: white;
    color: black;
}

.ground {
    background: tan;
    color: white;
}

.fighting {
    background: maroon;
    color: white;
}

.rock {
    background: brown;
    color: white;
}

.psychic {
    background: fuchsia;
    color: black;
}

.ice {
    background: cyan;
    color: black;
}

.ghost {
    background: plum;
    color: black;
}

.electric {
    background: yellow;
    color: black;
}

.dragon {
    background: orange;
    color: white;
}

.dark {
    background: black;
    color: white;
}
