.poke-field {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.poke-sprite {
    border: 1px solid black;
    margin: 5px;
    padding: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.header {
    background: gray;
    color: white;
    padding: 3rem;
}

.header a {
    color: white;
    text-decoration: none;
}